# binary and source package build artifacts
*.build
*.buildinfo
*.changes
*.ddeb
*.deb
*.xz
*.dsc
*.gz
*.upload
**/debian/files
.pc
# upstream source
intel-dpcpp-*
emhash-*
vc-intrinsics-0*
intel-umf*
onedpl-*
