# binary and source package build artifacts
*.build
*.buildinfo
*.changes
*.ddeb
*.deb
*.xz
*.dsc
*.gz
*.upload
**/debian/files
.pc
# upstream source
intel-dpcpp-*
unified-runtime-*
unified-runtime/vendor
emhash-*
vc-intrinsics-*
intel-umf*
onedpl_2022.9.0*
intel-compute-runtime-exp-headers-2*
