Tests: sycl-neo-device, mandelbrot, vector-add, matrix-mul
# cmake required by mandelbrot and vector-add tests
# libstb-dev required by mandelbrot test
# ocl-icd-opencl-dev required by mandebrot test
Depends: @, cmake, libstb-dev, ocl-icd-opencl-dev
Restrictions: allow-stderr
