#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS   = hardening=+all optimize=-lto
export DEB_CFLAGS_MAINT_APPEND   = -fdiagnostics-color=always #-fcolor-diagnostics #-Wall #-pedantic
export DEB_CXXFLAGS_MAINT_APPEND = -fdiagnostics-color=always #-fcolor-diagnostics #-Wall #-pedantic
export DEB_LDFLAGS_MAINT_APPEND  = -Wl,--as-needed
#export CLICOLOR_FORCE=ON

%:
	dh $@ -Scmake+ninja

# https://oneapi-src.github.io/oneDNN/dev_guide_build.html
override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_CXX_COMPILER=clang++-dpcpp \
		-DCMAKE_C_COMPILER=clang-dpcpp \
		-DCMAKE_AR=/usr/lib/llvm-dpcpp-21/bin/llvm-ar \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo \
		-DONEDNN_BUILD_TESTS=OFF \
		-DONEDNN_BUILD_EXAMPLES=OFF \
		-DONEDNN_BUILD_DOC=OFF \
		-DONEDNN_ARCH_OPT_FLAGS="" \
		-DONEDNN_CPU_RUNTIME=NONE \
		-DONEDNN_GPU_RUNTIME=SYCL \
		-DDNNL_LIBRARY_NAME=dnnl-sycl

execute_before_dh_auto_build:
	@echo 'blhc: ignore-line-regexp: \.S'

execute_before_dh_auto_install:
	mkdir -p debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/cmake/mkldnn

override_dh_auto_test:
	# Intel GPU required for proper testing
	# Testing will occur outside of packaging process
	# using autopkgtest

override_dh_missing:
	dh_missing --fail-missing

override_dh_dwz:
	# dwz does not support DWARF 5 debug sections (e.g. .debug_addr)
