Package: onedpl-headers
Source: onedpl
Version: 2022.9.0-0ubuntu1~25.10~ppa1
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 2919
Section: devel
Priority: optional
Homepage: https://github.com/uxlfoundation/oneDPL
Description: oneAPI DPC++ Library (oneDPL)
  oneDPL is part of the UXL Foundation and is an implementation of the oneAPI
  specification for the oneDPL component. oneDPL works with the Intel® oneAPI
  DPC++/C++ Compiler to provide high-productivity APIs to developers, which can
  minimize Data Parallel C++ (DPC++) programming efforts across devices for high
  performance parallel applications.
