Source: emhash
Section: libs
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 11),
 cmake,
 make,
 gcc,
Standards-Version: 4.3.0
Homepage: https://github.com/oneapi-src/unified-memory-framework

Package: emhash-headers
Architecture: amd64
Section: libdevel
Depends:
 ${misc:Depends},
Description: emhash - Fast and memory efficient open addressing C++ flat hash table/map
