Test-Command: install -D -m 0644 /usr/lib/onednn/examples/bnorm_u8_via_binary_postops.cpp examples/bnorm_u8_via_binary_postops.cpp; clang++-dpcpp -g -O2 -fno-omit-frame-pointer -mno-omit-leaf-frame-pointer -ffile-prefix-map=/home/will/code/oneapi-packaging/uxlfoundation-oneDNN-f1d4719=. -flto=auto -ffat-lto-objects -fstack-protector-strong -fstack-clash-protection -Wformat -Werror=format-security -fcf-protection -fdebug-prefix-map=/home/will/code/oneapi-packaging/uxlfoundation-oneDNN-f1d4719=/usr/src/onednn-sycl-3.10.2-0ubuntu5~26.04 -Wdate-time -D_FORTIFY_SOURCE=3 -fsycl -I /usr/lib/onednn/examples -I /usr/lib/onednn/examples/graph -Wl,-Bsymbolic-functions -flto=auto -ffat-lto-objects -Wl,-z,relro examples/bnorm_u8_via_binary_postops.cpp -ldnnl-sycl -lOpenCL -ltbb -o bnorm_u8_via_binary_postops_tester; ./bnorm_u8_via_binary_postops_tester gpu
Depends: @, onednn-sycl-examples, libtbb-dev, clang-dpcpp-21, libsycl-dev, libclang-dpcpp-common-21-dev, ocl-icd-opencl-dev
Restrictions: allow-stderr
Architecture: amd64
Features: test-name=clang++-dpcpp-bnorm_u8_via_binary_postops.cpp

Test-Command: install -D -m 0644 /usr/lib/onednn/examples/cnn_inference_f32.c examples/cnn_inference_f32.c; clang++-dpcpp -g -O2 -fno-omit-frame-pointer -mno-omit-leaf-frame-pointer -ffile-prefix-map=/home/will/code/oneapi-packaging/uxlfoundation-oneDNN-f1d4719=. -flto=auto -ffat-lto-objects -fstack-protector-strong -fstack-clash-protection -Wformat -Werror=format-security -fcf-protection -fdebug-prefix-map=/home/will/code/oneapi-packaging/uxlfoundation-oneDNN-f1d4719=/usr/src/onednn-sycl-3.10.2-0ubuntu5~26.04 -Wdate-time -D_FORTIFY_SOURCE=3 -fsycl -I /usr/lib/onednn/examples -I /usr/lib/onednn/examples/graph -Wl,-Bsymbolic-functions -flto=auto -ffat-lto-objects -Wl,-z,relro examples/cnn_inference_f32.c -ldnnl-sycl -lOpenCL -ltbb -o cnn_inference_f32_tester; ./cnn_inference_f32_tester gpu
Depends: @, onednn-sycl-examples, libtbb-dev, clang-dpcpp-21, libsycl-dev, libclang-dpcpp-common-21-dev, ocl-icd-opencl-dev
Restrictions: allow-stderr
Architecture: amd64
Features: test-name=clang++-dpcpp-cnn_inference_f32.c

Test-Command: install -D -m 0644 /usr/lib/onednn/examples/cnn_inference_f32.cpp examples/cnn_inference_f32.cpp; clang++-dpcpp -g -O2 -fno-omit-frame-pointer -mno-omit-leaf-frame-pointer -ffile-prefix-map=/home/will/code/oneapi-packaging/uxlfoundation-oneDNN-f1d4719=. -flto=auto -ffat-lto-objects -fstack-protector-strong -fstack-clash-protection -Wformat -Werror=format-security -fcf-protection -fdebug-prefix-map=/home/will/code/oneapi-packaging/uxlfoundation-oneDNN-f1d4719=/usr/src/onednn-sycl-3.10.2-0ubuntu5~26.04 -Wdate-time -D_FORTIFY_SOURCE=3 -fsycl -I /usr/lib/onednn/examples -I /usr/lib/onednn/examples/graph -Wl,-Bsymbolic-functions -flto=auto -ffat-lto-objects -Wl,-z,relro examples/cnn_inference_f32.cpp -ldnnl-sycl -lOpenCL -ltbb -o cnn_inference_f32_tester; ./cnn_inference_f32_tester gpu
Depends: @, onednn-sycl-examples, libtbb-dev, clang-dpcpp-21, libsycl-dev, libclang-dpcpp-common-21-dev, ocl-icd-opencl-dev
Restrictions: allow-stderr
Architecture: amd64
Features: test-name=clang++-dpcpp-cnn_inference_f32.cpp

Test-Command: install -D -m 0644 /usr/lib/onednn/examples/cnn_inference_int8.cpp examples/cnn_inference_int8.cpp; clang++-dpcpp -g -O2 -fno-omit-frame-pointer -mno-omit-leaf-frame-pointer -ffile-prefix-map=/home/will/code/oneapi-packaging/uxlfoundation-oneDNN-f1d4719=. -flto=auto -ffat-lto-objects -fstack-protector-strong -fstack-clash-protection -Wformat -Werror=format-security -fcf-protection -fdebug-prefix-map=/home/will/code/oneapi-packaging/uxlfoundation-oneDNN-f1d4719=/usr/src/onednn-sycl-3.10.2-0ubuntu5~26.04 -Wdate-time -D_FORTIFY_SOURCE=3 -fsycl -I /usr/lib/onednn/examples -I /usr/lib/onednn/examples/graph -Wl,-Bsymbolic-functions -flto=auto -ffat-lto-objects -Wl,-z,relro examples/cnn_inference_int8.cpp -ldnnl-sycl -lOpenCL -ltbb -o cnn_inference_int8_tester; ./cnn_inference_int8_tester gpu
Depends: @, onednn-sycl-examples, libtbb-dev, clang-dpcpp-21, libsycl-dev, libclang-dpcpp-common-21-dev, ocl-icd-opencl-dev
Restrictions: allow-stderr
Architecture: amd64
Features: test-name=clang++-dpcpp-cnn_inference_int8.cpp

Test-Command: install -D -m 0644 /usr/lib/onednn/examples/cnn_training_bf16.cpp examples/cnn_training_bf16.cpp; clang++-dpcpp -g -O2 -fno-omit-frame-pointer -mno-omit-leaf-frame-pointer -ffile-prefix-map=/home/will/code/oneapi-packaging/uxlfoundation-oneDNN-f1d4719=. -flto=auto -ffat-lto-objects -fstack-protector-strong -fstack-clash-protection -Wformat -Werror=format-security -fcf-protection -fdebug-prefix-map=/home/will/code/oneapi-packaging/uxlfoundation-oneDNN-f1d4719=/usr/src/onednn-sycl-3.10.2-0ubuntu5~26.04 -Wdate-time -D_FORTIFY_SOURCE=3 -fsycl -I /usr/lib/onednn/examples -I /usr/lib/onednn/examples/graph -Wl,-Bsymbolic-functions -flto=auto -ffat-lto-objects -Wl,-z,relro examples/cnn_training_bf16.cpp -ldnnl-sycl -lOpenCL -ltbb -o cnn_training_bf16_tester; ./cnn_training_bf16_tester gpu
Depends: @, onednn-sycl-examples, libtbb-dev, clang-dpcpp-21, libsycl-dev, libclang-dpcpp-common-21-dev, ocl-icd-opencl-dev
Restrictions: allow-stderr
Architecture: amd64
Features: test-name=clang++-dpcpp-cnn_training_bf16.cpp

Test-Command: install -D -m 0644 /usr/lib/onednn/examples/cnn_training_f32.cpp examples/cnn_training_f32.cpp; clang++-dpcpp -g -O2 -fno-omit-frame-pointer -mno-omit-leaf-frame-pointer -ffile-prefix-map=/home/will/code/oneapi-packaging/uxlfoundation-oneDNN-f1d4719=. -flto=auto -ffat-lto-objects -fstack-protector-strong -fstack-clash-protection -Wformat -Werror=format-security -fcf-protection -fdebug-prefix-map=/home/will/code/oneapi-packaging/uxlfoundation-oneDNN-f1d4719=/usr/src/onednn-sycl-3.10.2-0ubuntu5~26.04 -Wdate-time -D_FORTIFY_SOURCE=3 -fsycl -I /usr/lib/onednn/examples -I /usr/lib/onednn/examples/graph -Wl,-Bsymbolic-functions -flto=auto -ffat-lto-objects -Wl,-z,relro examples/cnn_training_f32.cpp -ldnnl-sycl -lOpenCL -ltbb -o cnn_training_f32_tester; ./cnn_training_f32_tester gpu
Depends: @, onednn-sycl-examples, libtbb-dev, clang-dpcpp-21, libsycl-dev, libclang-dpcpp-common-21-dev, ocl-icd-opencl-dev
Restrictions: allow-stderr
Architecture: amd64
Features: test-name=clang++-dpcpp-cnn_training_f32.cpp

Test-Command: install -D -m 0644 /usr/lib/onednn/examples/getting_started.cpp examples/getting_started.cpp; clang++-dpcpp -g -O2 -fno-omit-frame-pointer -mno-omit-leaf-frame-pointer -ffile-prefix-map=/home/will/code/oneapi-packaging/uxlfoundation-oneDNN-f1d4719=. -flto=auto -ffat-lto-objects -fstack-protector-strong -fstack-clash-protection -Wformat -Werror=format-security -fcf-protection -fdebug-prefix-map=/home/will/code/oneapi-packaging/uxlfoundation-oneDNN-f1d4719=/usr/src/onednn-sycl-3.10.2-0ubuntu5~26.04 -Wdate-time -D_FORTIFY_SOURCE=3 -fsycl -I /usr/lib/onednn/examples -I /usr/lib/onednn/examples/graph -Wl,-Bsymbolic-functions -flto=auto -ffat-lto-objects -Wl,-z,relro examples/getting_started.cpp -ldnnl-sycl -lOpenCL -ltbb -o getting_started_tester; ./getting_started_tester gpu
Depends: @, onednn-sycl-examples, libtbb-dev, clang-dpcpp-21, libsycl-dev, libclang-dpcpp-common-21-dev, ocl-icd-opencl-dev
Restrictions: allow-stderr
Architecture: amd64
Features: test-name=clang++-dpcpp-getting_started.cpp

Test-Command: install -D -m 0644 /usr/lib/onednn/examples/matmul_perf.cpp examples/matmul_perf.cpp; clang++-dpcpp -g -O2 -fno-omit-frame-pointer -mno-omit-leaf-frame-pointer -ffile-prefix-map=/home/will/code/oneapi-packaging/uxlfoundation-oneDNN-f1d4719=. -flto=auto -ffat-lto-objects -fstack-protector-strong -fstack-clash-protection -Wformat -Werror=format-security -fcf-protection -fdebug-prefix-map=/home/will/code/oneapi-packaging/uxlfoundation-oneDNN-f1d4719=/usr/src/onednn-sycl-3.10.2-0ubuntu5~26.04 -Wdate-time -D_FORTIFY_SOURCE=3 -fsycl -I /usr/lib/onednn/examples -I /usr/lib/onednn/examples/graph -Wl,-Bsymbolic-functions -flto=auto -ffat-lto-objects -Wl,-z,relro examples/matmul_perf.cpp -ldnnl-sycl -lOpenCL -ltbb -o matmul_perf_tester; ./matmul_perf_tester gpu
Depends: @, onednn-sycl-examples, libtbb-dev, clang-dpcpp-21, libsycl-dev, libclang-dpcpp-common-21-dev, ocl-icd-opencl-dev
Restrictions: allow-stderr
Architecture: amd64
Features: test-name=clang++-dpcpp-matmul_perf.cpp

Test-Command: install -D -m 0644 /usr/lib/onednn/examples/memory_format_propagation.cpp examples/memory_format_propagation.cpp; clang++-dpcpp -g -O2 -fno-omit-frame-pointer -mno-omit-leaf-frame-pointer -ffile-prefix-map=/home/will/code/oneapi-packaging/uxlfoundation-oneDNN-f1d4719=. -flto=auto -ffat-lto-objects -fstack-protector-strong -fstack-clash-protection -Wformat -Werror=format-security -fcf-protection -fdebug-prefix-map=/home/will/code/oneapi-packaging/uxlfoundation-oneDNN-f1d4719=/usr/src/onednn-sycl-3.10.2-0ubuntu5~26.04 -Wdate-time -D_FORTIFY_SOURCE=3 -fsycl -I /usr/lib/onednn/examples -I /usr/lib/onednn/examples/graph -Wl,-Bsymbolic-functions -flto=auto -ffat-lto-objects -Wl,-z,relro examples/memory_format_propagation.cpp -ldnnl-sycl -lOpenCL -ltbb -o memory_format_propagation_tester; ./memory_format_propagation_tester gpu
Depends: @, onednn-sycl-examples, libtbb-dev, clang-dpcpp-21, libsycl-dev, libclang-dpcpp-common-21-dev, ocl-icd-opencl-dev
Restrictions: allow-stderr
Architecture: amd64
Features: test-name=clang++-dpcpp-memory_format_propagation.cpp

Test-Command: install -D -m 0644 /usr/lib/onednn/examples/performance_profiling.cpp examples/performance_profiling.cpp; clang++-dpcpp -g -O2 -fno-omit-frame-pointer -mno-omit-leaf-frame-pointer -ffile-prefix-map=/home/will/code/oneapi-packaging/uxlfoundation-oneDNN-f1d4719=. -flto=auto -ffat-lto-objects -fstack-protector-strong -fstack-clash-protection -Wformat -Werror=format-security -fcf-protection -fdebug-prefix-map=/home/will/code/oneapi-packaging/uxlfoundation-oneDNN-f1d4719=/usr/src/onednn-sycl-3.10.2-0ubuntu5~26.04 -Wdate-time -D_FORTIFY_SOURCE=3 -fsycl -I /usr/lib/onednn/examples -I /usr/lib/onednn/examples/graph -Wl,-Bsymbolic-functions -flto=auto -ffat-lto-objects -Wl,-z,relro examples/performance_profiling.cpp -ldnnl-sycl -lOpenCL -ltbb -o performance_profiling_tester; ./performance_profiling_tester gpu
Depends: @, onednn-sycl-examples, libtbb-dev, clang-dpcpp-21, libsycl-dev, libclang-dpcpp-common-21-dev, ocl-icd-opencl-dev
Restrictions: allow-stderr
Architecture: amd64
Features: test-name=clang++-dpcpp-performance_profiling.cpp

Test-Command: install -D -m 0644 /usr/lib/onednn/examples/rnn_training_f32.cpp examples/rnn_training_f32.cpp; clang++-dpcpp -g -O2 -fno-omit-frame-pointer -mno-omit-leaf-frame-pointer -ffile-prefix-map=/home/will/code/oneapi-packaging/uxlfoundation-oneDNN-f1d4719=. -flto=auto -ffat-lto-objects -fstack-protector-strong -fstack-clash-protection -Wformat -Werror=format-security -fcf-protection -fdebug-prefix-map=/home/will/code/oneapi-packaging/uxlfoundation-oneDNN-f1d4719=/usr/src/onednn-sycl-3.10.2-0ubuntu5~26.04 -Wdate-time -D_FORTIFY_SOURCE=3 -fsycl -I /usr/lib/onednn/examples -I /usr/lib/onednn/examples/graph -Wl,-Bsymbolic-functions -flto=auto -ffat-lto-objects -Wl,-z,relro examples/rnn_training_f32.cpp -ldnnl-sycl -lOpenCL -ltbb -o rnn_training_f32_tester; ./rnn_training_f32_tester gpu
Depends: @, onednn-sycl-examples, libtbb-dev, clang-dpcpp-21, libsycl-dev, libclang-dpcpp-common-21-dev, ocl-icd-opencl-dev
Restrictions: allow-stderr
Architecture: amd64
Features: test-name=clang++-dpcpp-rnn_training_f32.cpp

Test-Command: install -D -m 0644 /usr/lib/onednn/examples/sycl_interop_buffer.cpp examples/sycl_interop_buffer.cpp; clang++-dpcpp -g -O2 -fno-omit-frame-pointer -mno-omit-leaf-frame-pointer -ffile-prefix-map=/home/will/code/oneapi-packaging/uxlfoundation-oneDNN-f1d4719=. -flto=auto -ffat-lto-objects -fstack-protector-strong -fstack-clash-protection -Wformat -Werror=format-security -fcf-protection -fdebug-prefix-map=/home/will/code/oneapi-packaging/uxlfoundation-oneDNN-f1d4719=/usr/src/onednn-sycl-3.10.2-0ubuntu5~26.04 -Wdate-time -D_FORTIFY_SOURCE=3 -fsycl -I /usr/lib/onednn/examples -I /usr/lib/onednn/examples/graph -Wl,-Bsymbolic-functions -flto=auto -ffat-lto-objects -Wl,-z,relro examples/sycl_interop_buffer.cpp -ldnnl-sycl -lOpenCL -ltbb -o sycl_interop_buffer_tester; ./sycl_interop_buffer_tester gpu
Depends: @, onednn-sycl-examples, libtbb-dev, clang-dpcpp-21, libsycl-dev, libclang-dpcpp-common-21-dev, ocl-icd-opencl-dev
Restrictions: allow-stderr
Architecture: amd64
Features: test-name=clang++-dpcpp-sycl_interop_buffer.cpp

Test-Command: install -D -m 0644 /usr/lib/onednn/examples/sycl_interop_usm.cpp examples/sycl_interop_usm.cpp; clang++-dpcpp -g -O2 -fno-omit-frame-pointer -mno-omit-leaf-frame-pointer -ffile-prefix-map=/home/will/code/oneapi-packaging/uxlfoundation-oneDNN-f1d4719=. -flto=auto -ffat-lto-objects -fstack-protector-strong -fstack-clash-protection -Wformat -Werror=format-security -fcf-protection -fdebug-prefix-map=/home/will/code/oneapi-packaging/uxlfoundation-oneDNN-f1d4719=/usr/src/onednn-sycl-3.10.2-0ubuntu5~26.04 -Wdate-time -D_FORTIFY_SOURCE=3 -fsycl -I /usr/lib/onednn/examples -I /usr/lib/onednn/examples/graph -Wl,-Bsymbolic-functions -flto=auto -ffat-lto-objects -Wl,-z,relro examples/sycl_interop_usm.cpp -ldnnl-sycl -lOpenCL -ltbb -o sycl_interop_usm_tester; ./sycl_interop_usm_tester gpu
Depends: @, onednn-sycl-examples, libtbb-dev, clang-dpcpp-21, libsycl-dev, libclang-dpcpp-common-21-dev, ocl-icd-opencl-dev
Restrictions: allow-stderr
Architecture: amd64
Features: test-name=clang++-dpcpp-sycl_interop_usm.cpp

Test-Command: install -D -m 0644 /usr/lib/onednn/examples/graph/sycl_getting_started.cpp examples/graph/sycl_getting_started.cpp; clang++-dpcpp -g -O2 -fno-omit-frame-pointer -mno-omit-leaf-frame-pointer -ffile-prefix-map=/home/will/code/oneapi-packaging/uxlfoundation-oneDNN-f1d4719=. -flto=auto -ffat-lto-objects -fstack-protector-strong -fstack-clash-protection -Wformat -Werror=format-security -fcf-protection -fdebug-prefix-map=/home/will/code/oneapi-packaging/uxlfoundation-oneDNN-f1d4719=/usr/src/onednn-sycl-3.10.2-0ubuntu5~26.04 -Wdate-time -D_FORTIFY_SOURCE=3 -fsycl -I /usr/lib/onednn/examples -I /usr/lib/onednn/examples/graph -Wl,-Bsymbolic-functions -flto=auto -ffat-lto-objects -Wl,-z,relro examples/graph/sycl_getting_started.cpp -ldnnl-sycl -lOpenCL -ltbb -o sycl_getting_started_tester; ./sycl_getting_started_tester gpu
Depends: @, onednn-sycl-examples, libtbb-dev, clang-dpcpp-21, libsycl-dev, libclang-dpcpp-common-21-dev, ocl-icd-opencl-dev
Restrictions: allow-stderr
Architecture: amd64
Features: test-name=clang++-dpcpp-sycl_getting_started.cpp

Test-Command: install -D -m 0644 /usr/lib/onednn/examples/graph/sycl_single_op_partition.cpp examples/graph/sycl_single_op_partition.cpp; clang++-dpcpp -g -O2 -fno-omit-frame-pointer -mno-omit-leaf-frame-pointer -ffile-prefix-map=/home/will/code/oneapi-packaging/uxlfoundation-oneDNN-f1d4719=. -flto=auto -ffat-lto-objects -fstack-protector-strong -fstack-clash-protection -Wformat -Werror=format-security -fcf-protection -fdebug-prefix-map=/home/will/code/oneapi-packaging/uxlfoundation-oneDNN-f1d4719=/usr/src/onednn-sycl-3.10.2-0ubuntu5~26.04 -Wdate-time -D_FORTIFY_SOURCE=3 -fsycl -I /usr/lib/onednn/examples -I /usr/lib/onednn/examples/graph -Wl,-Bsymbolic-functions -flto=auto -ffat-lto-objects -Wl,-z,relro examples/graph/sycl_single_op_partition.cpp -ldnnl-sycl -lOpenCL -ltbb -o sycl_single_op_partition_tester; ./sycl_single_op_partition_tester gpu
Depends: @, onednn-sycl-examples, libtbb-dev, clang-dpcpp-21, libsycl-dev, libclang-dpcpp-common-21-dev, ocl-icd-opencl-dev
Restrictions: allow-stderr
Architecture: amd64
Features: test-name=clang++-dpcpp-sycl_single_op_partition.cpp

