Source: dpcpp
Section: devel
Priority: optional
Rules-Requires-Root: no
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends:
    debhelper (>= 12),
    cmake,
    ninja-build,
    python3,
    python3-pip,
    libedit-dev,
    libxml2-dev,
    libz3-dev,
    libz-dev,
    libtinfo-dev,
    libncurses5-dev,
    libncursesw5-dev,
    libze-dev,
    libze-intel-gpu-dev,
    mold,
    spirv-tools,
    spirv-headers,
    opencl-headers,
    ocl-icd-opencl-dev,
    libboost1.88-dev,
    libzstd-dev,
    pkg-config,
Build-Conflicts: oprofile
Standards-Version: 4.7.0
Homepage: https://github.com/intel/llvm

Package: clang-dpcpp-20
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Intel DPC++ Compiler
 A Clang/LLVM-based compiler with SYCL support for heterogeneous computing.

Package: libclang-dpcpp20
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Intel DPC++ Compiler
 A Clang/LLVM-based compiler with SYCL support for heterogeneous computing.

Package: libclang-dpcpp-common-20-dev
Architecture: amd64
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Intel DPC++ Compiler
 A Clang/LLVM-based compiler with SYCL support for heterogeneous computing.

Package: libsycl8
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Intel DPC++ Compiler
 A Clang/LLVM-based compiler with SYCL support for heterogeneous computing.

Package: libsycl-dev
Architecture: amd64
Depends:
 libsycl8 (= ${binary:Version}),
 ${misc:Depends},
Description: Intel DPC++ Compiler
 A Clang/LLVM-based compiler with SYCL support for heterogeneous computing.

Package: dpcpp-sycl-runtime-libs
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Intel DPC++ Compiler
 A Clang/LLVM-based compiler with SYCL support for heterogeneous computing.

Package: llvm-dpcpp
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Intel DPC++ Compiler
 A Clang/LLVM-based compiler with SYCL support for heterogeneous computing.
