Source: dpcpp
Section: devel
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 12), 
 cmake, 
 ninja-build, 
 python3, python3-pip, 
 libedit-dev, libxml2-dev, 
 libz3-dev, 
 libz-dev, 
 libtinfo-dev, 
 libncurses5-dev, 
 libncursesw5-dev,
 spirv-headers,
 ocl-icd-opencl-dev,
 spirv-tools,
 emhash-headers,
 parallel-hashmap-headers,
 intel-vc-intrinsics-dev,
Standards-Version: 4.5.0
Homepage: https://github.com/intel/llvm

Package: dpcpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Intel DPC++ Compiler
 A Clang/LLVM-based compiler with SYCL support for heterogeneous computing.
