Source: intel-dpcpp
Section: devel
Priority: optional
Rules-Requires-Root: no
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends:
    debhelper (>= 12),
    cmake,
    ninja-build,
    python3,
    python3-pip,
    libedit-dev,
    libxml2-dev,
    libz3-dev,
    libz-dev,
    libncurses-dev,
    libumf-dev,
    libze-dev,
    libze-intel-gpu-dev,
    spirv-tools,
    spirv-headers,
    opencl-headers,
    ocl-icd-opencl-dev,
    libzstd-dev,
    pkgconf,
    emhash-dev,
    libumf-dev,
    intel-vc-intrinsics-dev,
    libparallel-hashmap-dev
Build-Conflicts: oprofile
Standards-Version: 4.7.0
Homepage: https://github.com/intel/llvm

Package: clang-dpcpp-20
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libsycl-dev,
 libclang-dpcpp-common-20-dev,
 llvm-dpcpp
Description: Intel DPC++ compiler
 DPC++ is a LLVM-based compiler project that implements compiler and runtime
 support for the SYCL* language.
 .
 This package delivers the compiler binary clang-dpcpp.

Package: libclang-dpcpp20
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libclang-dpcpp-common-20-dev
Description: Clang library for the DPC++ compiler
 DPC++ is a LLVM-based compiler project that implements compiler and runtime
 support for the SYCL* language.
 .
 This package contains the Clang library for DPC++.

Package: libclang-dpcpp-common-20-dev
Architecture: amd64
Section: libdevel
Depends:
 ${misc:Depends}
Description: Clang library for the DPC++ compiler - Development package
 DPC++ is a LLVM-based compiler project that implements compiler and runtime
 support for the SYCL* language.
 .
 This package contains the Clang header files.


Package: libsycl8
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 dpcpp-sycl-runtime-libs
Description: SYCL* language library
 DPC++ is a LLVM-based compiler project that implements compiler and runtime
 support for the SYCL* language.
 .
 This package contains the SYCL* library.

Package: libsycl-dev
Architecture: amd64
Depends:
 ${misc:Depends},
 libsycl8 (= ${binary:Version})
Description: SYCL* language library - Development package
 DPC++ is a LLVM-based compiler project that implements compiler and runtime
 support for the SYCL* language.
 .
 This package contains the SYCL* header files.

Package: dpcpp-sycl-runtime-libs
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libclang-dpcpp20
Description: DPC++ SYCL* runtime libraries
 DPC++ is a LLVM-based compiler project that implements compiler and runtime
 support for the SYCL* language.
 .
 This package contains runtime library adapters for interacting with various
 acceleration backends (e.g. level-zero, OpenCL) through the SYCL* programs
 compiled with the DPC++ compiler.

Package: llvm-dpcpp
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: DPC++ LLVM tools
 DPC++ is a LLVM-based compiler project that implements compiler and runtime
 support for the SYCL* language.
 .
 This package delivers various tools and commands provided by LLVM.
