#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	python3 ${CURDIR}/buildbot/configure.py \
		--l0-headers /usr/include/level_zero/ \
		--l0-loader /usr/lib/x86_64-linux-gnu/libze_loader.so \
		--cmake-opt="-DLLVM_PARALLEL_LINK_JOBS=16" \
		--disable-jit \
		--cmake-opt="-DLLVM_ENABLE_RTTI=ON" \
		--cmake-opt="-DLLVM_BUILD_LLVM_DYLIB:BOOL=ON" \
		--cmake-opt="-DSYCL_UR_USE_FETCH_CONTENT=OFF" \
		--cmake-opt="-DLLVMGenXIntrinsics_SOURCE_DIR=${CURDIR}/vc-intrinsics" \
		--cmake-opt="-DFETCHCONTENT_FULLY_DISCONNECTED=ON" \
		--cmake-opt="-DSYCL_UR_SOURCE_DIR=${CURDIR}/unified-runtime" \
		--cmake-opt="-DUR_OPENCL_INCLUDE_DIR=/usr/include/" \
		--cmake-opt="-DUR_USE_EXTERNAL_UMF=ON" \
		--cmake-opt="-DUR_COMPUTE_RUNTIME_REPO=${CURDIR}/compute-runtime" \
		--cmake-opt="-DOpenCL_INCLUDE_DIR=/usr/include/" \
		--cmake-opt="-DBOOST_MP11_SOURCE_DIR=${CURDIR}/mp11-boost" \
		--cmake-opt="-DLLVM_EXTERNAL_SPIRV_HEADERS_SOURCE_DIR=/usr/include/" \

override_dh_auto_build:
	python3 ${CURDIR}/buildbot/compile.py -j`nproc`

override_dh_auto_install:
	# Install binaries to debian/tmp/usr
	cd build && DESTDIR=$(CURDIR)/debian/tmp ninja install

override_dh_clean:
	rm -rf ${UR_BUILD_XPTI_LIBS}
	dh_clean
