#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	#dh_auto_configure -- \
	#	-DCMAKE_BUILD_TYPE=Release \
	#	-DCMAKE_INSTALL_PREFIX=/usr
	#cd ${CURDIR}/examples/convex_hull && mkdir build && cd build && cmake ..

override_dh_auto_test:

override_dh_build:
	dh_auto_build
	#cd ${CURDIR}/examples/convex_hull/build && make
